#main {
	margin-top: 66px;
	text-align: center;
}

.tab-content {
	margin-top: 50px;
}

.list-group-item.active {
	background-color: #595c5f !important;
	border-color: #595c5f !important;
}

.card-body {
	padding: .75rem !important;
}

.heart.badge {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 24px;
}

.heart.badge:hover,
.product-quickview:hover {
	transition: 0s;
	background-color: #138496;
}

.product-quickview {
    position: absolute;
    top: 56px;
    right: 5px;
    font-size: 24px;
}

.price-text {
	line-height: 2em;
}

.cart-btn {
	z-index: 15;
}

.color-badge {
	height: 20px !important;
	width: 20px !important;
	padding: 0 !important;
	border-radius: 10px !important;
	border: 2px solid #fff;
}

.quickview-product-img {
    max-width: 100%;
    max-height: 100%;
}

.quickview-color-btn {
	box-shadow: 0px 0px 0px 1px darkgrey;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
	box-shadow: 0px 0px 0px 2px #000;
	border-color: #fff !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
	box-shadow: none;
}

quickview-color-btn {
	
}

/*
.product-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	opacity: 0;
	background-color: #000;
}

.product-overlay-btn {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.product-image:hover .product-overlay {
	opacity: .5;
}

  .product-overlay-btn-hover {
    opacity: 0;
    padding-top: 50%;
  }
  
  .product-overlay-btn-hover:hover {
    opacity: 1;
    transition: .2s ease;
  }
  
  .product-overlay-btn-hover button {
    opacity: 1;
  }*/
