

#main {
    margin-top: 66px;
    text-align: center;
  }

  .tab-content {
    margin-top: 50px;
  }

  .list-group-item.active {
    background-color: #595c5f  !important;
    border-color: #595c5f  !important;
  } 
  
  .card-body {
    padding: .75rem !important;
  }
  
  .heart.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
  }
  
  .heart.badge:hover {
    transition: 0s;
    background-color: #138496;
  }
  
  .price-text {
    line-height: 2em;
  }

  .cart-btn {
    z-index: 15;
  }
  
  .color-badge {
    height: 16px;
    width: 16px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid darkgrey;
  }

  .product-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      opacity: 0;
      background-color: #000;
  }

  .product-overlay-btn {
      position: absolute;
      bottom: 5px;
      right: 5px;
  }

  /*
  .product-overlay-btn-hover {
    opacity: 0;
    padding-top: 50%;
  }
  
  .product-overlay-btn-hover:hover {
    opacity: 1;
    transition: .2s ease;
  }
  
  .product-overlay-btn-hover button {
    opacity: 1;
  }*/