#main {
	margin-top: 66px;
	text-align: center;
}

.tab-content {
	margin-top: 50px;
}

.list-group:first-child {
	border-top: 1px solid rgba(0,0,0,.125) !important;
}

.list-group:last-child {
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.list-group-item {
	border-right: 1px solid rgba(0,0,0,.125) !important;
}

.list-group-item.active {
	background-color: #595c5f !important;
	border-color: #595c5f !important;
}

.list-break {
	background-color: #f8f9fa !important;
	border-right: none !important;
}

.card-body {
	padding: .75rem !important;
}

.heart.badge {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 24px;
}

.heart.badge:hover,
.product-quickview:hover {
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	background-color: #138496;
}

.product-quickview {
    position: absolute;
    top: 56px;
    right: 5px;
    font-size: 24px;
}

.price-text {
	line-height: 2em;
}

.cart-btn {
	z-index: 15;
}

.color-badge {
	height: 20px !important;
	width: 20px !important;
	padding: 0 !important;
	border-radius: 10px !important;
	border: 2px solid #fff;
}

.quickview-product-img {
    max-width: 100%;
    max-height: 100%;
}

.quickview-color-btn {
	-webkit-box-shadow: 0px 0px 0px 1px darkgrey;
	        box-shadow: 0px 0px 0px 1px darkgrey;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
	-webkit-box-shadow: 0px 0px 0px 2px #000;
	        box-shadow: 0px 0px 0px 2px #000;
	border-color: #fff !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* QUICKVIEW MODAL */

.quickview-product-link {
	font-size: .85rem;
}