#main {
  margin-top: 66px;
  text-align: center;
}

.nav-link {
  color: #fff !important;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.tab-content {
  margin-top: 50px;
}

.list-group-item.active {
  background-color: #595c5f  !important;
  border-color: #595c5f  !important;
} 

.card-body {
  padding: .75rem !important;
}

.heart.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
}

.heart.badge:hover {
  transition: 0s;
  background-color: #138496;
}

.price-text {
  line-height: 2em;
}

.cart-btn {
  z-index: 15;
}

.color-circle {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  border: 1px solid #000;
}

.product-overlay-btn-hover {
  opacity: 0;
  padding-top: 50%;
}

.product-overlay-btn-hover:hover {
  opacity: 1;
  transition: .2s ease;
}

.product-overlay-btn-hover button {
  opacity: 1;
}

.dropdown-menu,.search-bar {
  padding: 0;
}