@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato&display=swap');

.App {
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 1.6em;
}

.nav-link {
  color: #fff !important;
  font-size: 1.1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.dropdown-menu > a {
  padding: 1rem;
}

.dropdown-menu,.search-bar {
  padding: 0 !important;
}